.account-settings {
    max-width: 95vw;
    margin: auto;
    background: white;
    padding: 20px;
    color: black;
    font-family: 'DisneyFont', sans-serif;
    display: flex;
    flex-direction: column;
}

.account-row {
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

.account-row:last-child {
    border-bottom: none;
}

.label {
    font-size: 1.2rem;
    width: 13%;
    color: #432874;
    font-weight: bold;
    margin-right: 10px;
    padding: 15px;
}

.username-text,
.hidden-password {
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    text-align: left;
    margin: 0;
    align-items: center;
}

.user-email {
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    text-align: left;
    margin: 0;
}

.username-input {
    width: 100%;
    align-self: left;
}

input,
select {
    padding: 8px;
    border-radius: 8px;
    border: 2px solid #432874;
    background: white;
    color: black;
    font-size: 16px;
    text-align: left;
    width: 15%;

    &:focus {
        outline: none;
        border-color: #f3a685;
    }
}

.avatars {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    flex: 2;
    justify-content: left;
}

.avatar-img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    transition: transform 0.3s;
    border: 3px solid transparent;

    &:hover {
        transform: scale(1.1);
        border-color: #f3a685;
    }
}

.avatar-img.disabled {
    filter: grayscale(100%);
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

.selected {
    border-color: #432874;
    transform: scale(1.15);
}

.avatar-wrapper {
    position: relative;
    width: 50px;
    height: 50px;
}

.avatar-icons {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.lock-icon {
    position: absolute;
    transform: translate(30%, -30%);
    top: 0px;
    right: 0px;
    font-size: 14px;
    color: white;
    padding: 2px 4px;
    border-radius: 4px;
}

.shop-icon {
    position: absolute;
    transform: translate(30%, 30%);
    bottom: 0px;
    right: 0px;
    font-size: 16px;
    color: white;
    border-radius: 50%;
    padding: 1px 4px;
}

.password-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    align-items: center;
    margin-left: 2%;
}

.username-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.edit-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    color: #432874;

    &:hover {
        transform: scale(1.2);
    }
}

.toggle-btn {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }
}

.account-row input {
    padding: 8px;
    border-radius: 8px;
    border: 2px solid #432874;
    background: white;
    color: black;
    font-size: 16px;
    text-align: left;

    &:focus {
        outline: none;
        border-color: #f3a685;
    }
}

.save-btn {
    background: #f3a685;
    color: white;
    font-family: 'DisneyFont', sans-serif;
    font-size: 1rem;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;

    &:hover {
        background: darken(#f3a685, 10%);
    }
}

.success-message {
    text-align: center;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    font-weight: bold;
    animation: fadeIn 0.5s ease-in-out;
    background: #4caf50;
    color: white;
}

.error-message {
    text-align: center;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    font-weight: bold;
    animation: fadeIn 0.5s ease-in-out;
    background: #fc6262;
    color: white;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.input-error-container {
    padding: 8px;
    border-radius: 8px;
    display: flex;
    flex-direction: column; 
    width: 100%; 
}

h1 {
    font-family: 'DisneyFont', sans-serif;
    margin-bottom: 15px;
}

.themes {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.theme-wrapper {
    position: relative;
    width: 60px;
    height: 60px;
}

.theme-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    border: 3px solid transparent;
    transition: transform 0.3s;
}

.theme-img:hover {
    transform: scale(1.1);
    border-color: #f3a685;
}

.theme-img.selected {
    border-color: #432874;
    transform: scale(1.15);
}

.theme-img.disabled {
    filter: grayscale(100%);
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

.theme-icons {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    padding: 20px;
    text-align: center;
    background-color: rgba(173, 172, 200, 0.8);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    max-width: 90%;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1001;
    border-radius: 5px;
}

.modal p {
    font-size: 18px;
    color: white;
    font-family: 'DisneyFont', sans-serif;
    margin-bottom: 20px;
    margin-top: 20px;
}

.modal-button-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.modal-button {
    gap: 20px;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: #0963ca;
    text-align: center;
    font-size: 20px;
    font-family: 'DisneyFont', sans-serif;
    margin-right: 15px;
    margin-left: 15px;

    &:hover {
        background-color: darkblue;
    }
    
    &:active {
        background-color: darkblue;
    }
}
