.waiting-room-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #e6e6e6;
    overflow: hidden;
    height: 95%;
}

img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid white;
    object-fit: cover;
}

.room-code {
    font-size: 1.5rem;
    font-family: 'DisneyFont', sans-serif;
    color: white;
    margin: 15px;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 20px;
}

.exit-button {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 20vw;
}

.exit-button button {
    justify-content: center;
    text-decoration: none;
    font-size: 1.2rem;
    color: #ffd700;
    padding: 10px 15px;
    border-radius: 5px;
    border: 3px solid #ffd700;
    background-color: transparent;
    transition:
        background-color 0.3s,
        color 0.3s,
        border-color 0.3s;
    font-family: 'DisneyFont', sans-serif;
}

.exit-button button:hover {
    background-color: #ffd700;
    color: white;
    border-color: #ffd700;
    cursor: pointer;
}

.game {
    width: 50vw;
    text-align: center;
    align-items: center;
}

.game-details {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6vh;
}

.game-code {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex: 1;
    height: 100%;
    border-radius: 10px;
    color: white;
    font-family: 'DisneyFont', sans-serif;
    font-size: 1.5rem;
}

.game-code p {
    margin: 0;
    font-size: 1.5rem;
}

.host-waiting {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.button-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.host-waiting h1 {
    color: white;
    font-size: 1.2rem;
    margin-left: 20px;
    font-family: 'DisneyFont', sans-serif;
}

.host-waiting button {
    background-color: #034694;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 1.2rem;
    font-family: 'DisneyFont', sans-serif;
    transition: background-color 0.4s;
    cursor: pointer;
    width: 100%;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: #ffd700;
        border: 3px solid #ffd700;
    }

    &:active {
        box-shadow: none;
        transform: translateY(4px);
    }
}

.player-waiting {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    font-family: 'DisneyFont', sans-serif;
}

.player-waiting h1 {
    color: #ffd700;
    font-size: 1.2rem;
    margin-right: 5px;
    font-family: 'DisneyFont', sans-serif;
}

.player-waiting h2 {
    color: #ffd700;
    font-size: 1.2rem;
    font-family: 'DisneyFont', sans-serif;
}

.avatar-container img {
    margin: 10px;
    border-radius: 50%;
    border: 3px solid #ffd700;
    box-shadow:
        0 0 15px rgba(243, 156, 18, 0.6),
        0 0 30px rgba(243, 156, 18, 0.5),
        0 0 45px rgba(243, 156, 18, 0.4),
        0 0 60px rgba(243, 156, 18, 0.3);
    transition: box-shadow 0.5s ease-in-out;
    width: 10vw;
    margin-bottom: 10px;
    animation: glowing 2s infinite alternate;
}

@keyframes glowing {
    0% {
        box-shadow:
            0 0 1.5px rgba(243, 156, 18, 0.6),
            0 0 3px rgba(243, 156, 18, 0.5),
            0 0 4.5px rgba(243, 156, 18, 0.4),
            0 0 6px rgba(243, 156, 18, 0.3);
    }
    50% {
        box-shadow:
            0 0 3px rgba(243, 156, 18, 0.8),
            0 0 6px rgba(243, 156, 18, 0.7),
            0 0 9px rgba(243, 156, 18, 0.6),
            0 0 12px rgba(243, 156, 18, 0.5);
    }
    100% {
        box-shadow:
            0 0 1.5px rgba(243, 156, 18, 0.6),
            0 0 3px rgba(243, 156, 18, 0.5),
            0 0 4.5px rgba(243, 156, 18, 0.4),
            0 0 6px rgba(243, 156, 18, 0.3);
    }
}

.player-name h1 {
    font-size: 1rem;
    left: 11vw;
}

.game-status {
    display: flex;
    margin-left: auto;
    font-family: 'DisneyFont', sans-serif;
    color: white;
}

.game-status button {
    color: white;
    font-size: 16px;
    margin: 10;
    background-color: #2c3e50;
    border: 3px solid #202020;
    padding: 10px 24px;
    font-weight: bold;
    font-family: 'DisneyFont', sans-serif;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &.locked {
        background-color: rgb(198, 61, 61);
    }

    &.unlocked {
        background-color: rgb(98, 207, 98);
    }
    &.locked:hover {
        background-color: rgb(136, 35, 35);
    }

    &.unlocked:hover {
        background-color: rgb(1, 133, 1);
    }
}

.game-status h2 {
    color: white;
    font-size: 1rem;
    margin: 0;
    font-family: 'DisneyFont', sans-serif;
    margin-bottom: 10px;
    margin-right: 10px;
}


.chat-header {
    display: flex;
    background-color: none;
    bottom: 44.7vh;
    right: 0;
    position: fixed;
    z-index: 998;
    width: 466px;
    max-width: 600px;
    box-sizing: border-box;
}

.tab {
    padding: 10px 20px;
    height: 42px;
    font-family: 'DisneyFont', sans-serif;
    font-size: 1rem;
    background-color: #f7f7f7;
    color: rgb(35, 35, 35);
    cursor: pointer;
    transition:
        background-color 0.3s,
        color 0.3s;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
    justify-content: space-evenly;
    flex: 1;
    width: auto;
}

.tab:hover {
    background-color: #d7d7d7;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.tab.active {
    background-color: #d7d7d7;
    color: black;
    font-weight: bold;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.close-button {
    font-size: 1.7rem;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-right: 7px;
    font-weight: bold;
    z-index: 999;
    font-family: 'DisneyFont', sans-serif;
    color: grey;
    margin-top: 15px;
}

.toggle-icon {
    padding: 15px;
    bottom: 0;
    right: 0;
    position: absolute;
    margin-bottom: 20px;
    margin-right: 20px;
    font-size: 50px;
    transition: transform 0.3s ease;
    background: transparent;
    cursor: pointer;
    color: black;
}

.game h1 {
    color: white;
    font-size: 1.5rem;
    font-family: 'DisneyFont', sans-serif;
}

.modal h2 {
    margin-bottom: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    justify-content: center;
    font-size: 1.2rem;
    color: #ffd700;
    font-family: 'DisneyFont', sans-serif;
}

.modal p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: black;
    max-width: fit-content;
    white-space: normal;
    word-wrap: break-word;
    text-align: center;
    min-height: 3em;
    line-height: 1.5em;
    font-family: 'DisneyFont', sans-serif;
}

.e-modal {
    background-color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    max-width: 90%;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid #ffd700;
    position: relative;
    z-index: 1001;
    color: black;
}

.exit-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.d-modal {
    padding: 20px;
    text-align: center;
    background-color: rgba(173, 172, 200, 0.8);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    max-width: 90%;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1001;
    border-radius: 5px;
}
