.create-question-container {
    border-color: #ffd700;
    font-family: 'DisneyFont', sans-serif;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 70%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
    color: #ffd700;
}

.question-header-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.points-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5px;
}

.points-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.points-arrow {
    background-color: #034694;
    color: #ffd700;
    font-family: 'DisneyFont', sans-serif;
    padding: 4px 6px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 1 rem;
    transition: background-color 0.3s;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: space-between;
}

.points-display {
    font-size: 1.2rem;
    color: white;
    font-family: 'DisneyFont', sans-serif;
}

.question-text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
}

#questionText {
    margin-left: 10px;
    width: 400px;
}

.question-type-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
}

#questionType {
    margin-left: 10px;
    width: 230px;
}

.add-choice-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
}

label {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: #ffd700;
}

input {
    background-color: #e4e6eb;
    border: 1px solid #ffd700;
    padding: 10px;
    font-size: 1rem;
    border-radius: 8px;
    width: 90%;
    margin: 8px 0;
}

select,
textarea {
    background-color: #e4e6eb;
    border: 1px solid #ffd700;
    padding: 10px;
    font-size: 1rem;
    border-radius: 8px;
    width: 25%;
    margin: 10px 0;
}

input[type='submit'],
button {
    background-color: #034694;
    border: 2px #ffd700;
    color: #ffd700;
    font-family: 'DisneyFont', sans-serif;
    padding: 12px 24px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s;
    margin: 5px;
}

input[type='submit']:hover,
button:hover {
    background-color: #003c72;
    color: #fff;
}

.modify-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.create-question-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.cancel-modif-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

button:disabled {
    cursor: not-allowed;
}

.add-question-button {
    background-color: #ffd700;
    color: #034694;
    font-family: 'DisneyFont', sans-serif;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s;
}

.add-question-button:hover {
    background-color: #f4a261;
    color: #fff;
}

.error-message {
    color: red;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 15px;
}

.choice-container,
.qre-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
}

#choiceText {
    width: 300px;
    display: flex;
    align-items: flex-start;
}

.is-correct-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    width: 30%;
}

#checkbox {
    transform: scale(2);
    border: 2px solid black;
}

.choice-index {
    font-size: 1.2rem;
    color: #ffd700;
    font-family: 'DisneyFont', sans-serif;
    margin-right: 10px;
}

#correctAnswer,
#minRange,
#maxRange,
#tolerance {
    margin-left: 10px;
    width: 50px;
}

.upload-button {
    font-size: 25px;
    margin-left: 10px;
    cursor: pointer;
}

.uploaded-image-container {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    width: 15vw;
    height: 15vh;
    object-fit: contain;
    margin-bottom: 10px;
}

.question-media {
    max-width: 100%;
    display: block;
    border-radius: 8px;
    width: 15vw;
    height: 15vh;
    object-fit: contain;
}

.delete-button {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    padding: 4px 6px;
    font-size: 10px;
    cursor: pointer;
    z-index: 1;
    transition: background 0.2s;
}
