.register-container {
    width: 100%;
    max-width: 600px;
    height: auto;
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
}

h3 {
    font-family: 'DisneyFont', sans-serif;
    font-size: 40px;
    color: #005aac;
    margin-bottom: 40px;
}

h4 {
    font-family: 'DisneyFont', sans-serif;
    font-size: 20px;
    color: #005aac;
    margin-bottom: 20px;
    align-self: center;
}

.invalid {
    border-color: red;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.form-section {
    margin-bottom: 30px;
    margin-top: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-section input {
    position: relative;
    padding: 15px 10px 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    z-index: 2;
    height: 50px;
    padding-right: 30px;
}

.form-section input::placeholder {
    font-family: 'DisneyFont', sans-serif;
}

label {
    font-family: 'DisneyFont', sans-serif;
    position: absolute;
    top: 30%;
    left: 10px;
    font-size: 14px;
    color: #999;
    pointer-events: none;
    transition: all 0.3s ease;
    z-index: 1;
    background-color: white;
    padding: 0 5px;
}

input:focus + label,
input.filled + label {
    top: -10px;
    font-size: 12px;
    color: purple;
    z-index: 3;
}

.form-section input:focus {
    outline: none;
    border-color: purple;
}

.fa,
.validation {
    margin-right: 5px;
    font-size: 25px;
}

.password-validation {
    font-size: 18px;
}

.password-validation span {
    display: flex;
    align-items: center;
    padding: 3px;
}

.password-validation .invalid {
    color: red;
}

.password-validation .valid {
    color: green;
}

.create-button {
    font-family: 'DisneyFont', sans-serif;
    padding: 10px;
    color: #ffd700;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 10px;
    width: 100%;
    max-width: 600px;
    background-color: #c0c0c0;
}

button.enabled {
    background-color: #005aac;
    cursor: pointer;
}

.avatar-selection {
    display: flex;
    justify-content: center;
    align-self: center;
}

.avatars {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.selected {
    border: 3px solid yellow;
    border-width: 6px;
}

.arrow-left,
.arrow-right {
    background: none;
    cursor: pointer;
    font-weight: bold;
    color: #c0c0c0;
    border: none;
    font-size: 25px;
}

.error-message {
    color: red;
    font-size: 18px;
    margin-top: 5px;
    align-self: center;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px; 
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 10px; 
    color: #888; 
    z-index: 3;
}