.login-container {
    width: 100%;
    max-width: 600px;
    height: auto;
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 auto;
    margin-top: 180px;
}

h2 {
    font-family: 'DisneyFont', sans-serif;
    font-size: 30px;
    color: #005aac;
    margin-bottom: 40px;
    margin-top: 20px;
}

h3 {
    font-family: 'DisneyFont', sans-serif;
    font-size: 40px;
    color: #005aac;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-group input {
    padding: 15px 10px 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    z-index: 2;
    position: relative;
    height: 50px;
    padding-right: 30px;
}

.form-group input::placeholder {
    font-family: 'DisneyFont', sans-serif;
}

label {
    font-family: 'DisneyFont', sans-serif;
    position: absolute;
    top: 50%;
    left: 10px;
    font-size: 14px;
    color: #999;
    pointer-events: none;
    transition: all 0.3s ease;
    z-index: 1;
    background-color: white;
    padding: 0 5px;
    opacity: 0;
}

input:focus + label,
input.filled + label {
    top: -10px;
    font-size: 12px;
    color: purple;
    z-index: 3;
    opacity: 1;
}

.form-group input:focus {
    outline: none;
    border-color: purple;
    opacity: 1;
}

button {
    font-family: 'DisneyFont', sans-serif;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    margin-top: 10px;
    width: 100%;
    max-width: 600px;
    background-color: #c0c0c0;
}

button.enabled {
    background-color: #005aac;
    cursor: pointer;
}

.signup-link a {
    font-family: 'DisneyFont', sans-serif;
    font-size: 14px;
    color: #005aac;
    text-decoration: none;
}

.signup-link {
    padding: 20px;
}

.signup-link a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.forgotten-password {
    color: gray;
    font-size: 12px;
    margin-top: 5px;
}

.forgotten-password:hover {
    text-decoration: underline;
    cursor: pointer;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px; 
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 10px; 
    color: #888; 
    z-index: 3;
}

.fa {
    margin-right: 5px;
    font-size: 25px;
    margin-bottom: 30px;
}
