.delay-modal-box {
    color: #c0c0c0;
    border-radius: 5px;
    font-size: 20px;
    background-color: transparent;
    position: relative;
}

h2 {
    color: white;
    font-family: 'DisneyFont', sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

h1 {
    color: white;
    font-family: 'DisneyFont', sans-serif;
    font-size: 25px;
    text-align: center;
    padding: 20px;
}

h3 {
    color: white;
    font-size: 15px;
    text-align: center;
}
