.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 70px;
    margin-left: 70px;
    margin-right: 70px;
    font-family: 'DisneyFont', sans-serif;
}

.timer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 10px;
}

#timer {
    font-size: 25px;
    color: black;
    border-radius: 20px;
    padding: 15px 30px;
    background-color: white;
    font-family: 'DisneyFont', sans-serif;
    border-color: 2px 0 #ffd700;
    grid-column: span 2;
}

.panic-timer {
    color: red !important;
    font-weight: bold;
}

.panic-button {
    margin-right: 10px;
    background-color: #ff5252;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    padding: 10px 20px;
    font-family: 'DisneyFont', sans-serif;
    font-size: 15px;

    &:hover {
        background-color: #ff0000;
    }
}

.pause-button {
    background-color: #ffa500;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    padding: 10px 20px;
    font-family: 'DisneyFont', sans-serif;
    font-size: 15px;

    &:hover {
        background-color: #ff8c00;
    }
}

.abandon {
    font-family: 'DisneyFont', sans-serif;
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 20px;
    border-color: red;
    background-color: red;
    color: white;
}

.abandon:hover {
    background-color: #ce0808;
    cursor: pointer;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-index {
    align-self: center;
    font-size: 18px;
    color: white;
    font-family: 'DisneyFont', sans-serif;
}

.question {
    flex-direction: column;
    align-self: center;
    background: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    text-align: center;
    font-size: 25px;
    margin-bottom: 40px;
}

.value {
    font-size: 18px;
    color: #ffd700;
    padding-top: 10px;
}

.result-container {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 60%;
    justify-content: space-between;
}

.left-container {
    flex: 1;
    margin-right: 10px;
    padding: 20px;
    background: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 10px;
    width: 30%;
    flex-direction: row;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: white transparent;
    max-height: 40vh;
}

.right-container {
    flex: 1;
    margin-left: 10px;
    padding: 20px;
    background: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 10px;
    width: 30%;
    flex-direction: row;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: white transparent;
    max-height: 40vh;
}

.qcm-data {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.histogram-title {
    font-size: 14px;
    color: white;
    font-family: 'DisneyFont', sans-serif;
    margin-bottom: 15px;
    margin-top: 10px;
}

.answers {
    display: flex;
    flex-direction: column;
    width: 350px;
    flex: 1;
}

.qcm-histogram {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.answer {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 8px 20px;
    border-radius: 10px;
    font-size: 14px;
}

.correct-answer {
    background-color: rgb(56, 178, 56);
}

.bar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
}

.label,
.count {
    font-size: 16px;
    color: white;
    font-family: 'DisneyFont', sans-serif;
    margin-right: 10px;
}

.username-label {
    font-size: 16px;
    color: white;
    margin-right: 10px;
    font-weight: bold;
}

.bar {
    height: 10px;
    border-radius: 10px;
    margin-right: 10px;
    transition: width 0.3s ease-in-out;
}

.qrl-title {
    font-size: 14px;
    color: white;
    font-family: 'DisneyFont', sans-serif;
    margin-bottom: 20px;
    margin-top: 10px;
}

.qrl-user-name {
    font-size: 14px;
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
}

.qrl-text {
    font-size: 14px;
    color: white;
    margin-bottom: 10px;
    font-family: 'Arial', sans-serif;
    overflow-x: wrap;
}

.qrl-button-c {
    padding: 10px 15px;
    font-size: 14px;
    background-color: #4dc35b;
    border-radius: 20px;
    color: black;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'DisneyFont', sans-serif;
    margin-right: 10px;

    &:hover {
        background-color: #3da549;
    }
}

.qrl-button-p {
    padding: 10px 15px;
    font-size: 14px;
    background-color: #ffd700;
    border-radius: 20px;
    color: black;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'DisneyFont', sans-serif;
    margin-right: 10px;

    &:hover {
        background-color: #ffcc00;
    }
}

.qrl-button-i {
    padding: 10px 15px;
    font-size: 14px;
    background-color: #ff5252;
    border-radius: 20px;
    color: black;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'DisneyFont', sans-serif;

    &:hover {
        background-color: #ff0000;
    }
}

.next-question {
    padding: 10px 20px;
    font-size: 20px;
    background-color: #0056a5;
    border-radius: 20px;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    font-family: 'DisneyFont', sans-serif;
}

.next-question:hover {
    background-color: #003979;
}

.players-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    bottom: 0;
}

.list-title {
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
    font-family: 'DisneyFont', sans-serif;
}

.players-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    padding: 10px 10px;
    background-color: #056ccc;
    border-radius: 20px;
    width: 370px;
    max-height: 40vh;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: white transparent;
}

.player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background-color: #0056a5;
    border-radius: 20px;
    padding: 10px;
    border: #003979;
    shadow: 0 0 10px #003979;
}

.avatar-name {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.avatar-container {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #e0e0e0;
    margin-right: 10px;
}

.avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.player-name {
    font-size: 20px;
    font-weight: bold;
    color: #e0e0e0;
    text-align: center;
}

.player-score {
    font-size: 15px;
    font-family: 'DisneyFont', sans-serif;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    padding: 20px;
    text-align: center;
    background-color: rgba(173, 172, 200, 0.8);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    max-width: 90%;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1001;
    border-radius: 5px;
}

.modal h2 {
    font-size: 20px;
    color: white;
    font-family: 'DisneyFont', sans-serif;
    margin-bottom: 20px;
    margin-top: 20px;
}

.modal p {
    font-size: 16px;
    color: white;
    font-family: 'DisneyFont', sans-serif;
    margin-bottom: 20px;
}

.modal-button-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.modal-button {
    gap: 20px;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: #0963ca;
    text-align: center;
    font-size: 20px;
    font-family: 'DisneyFont', sans-serif;
    margin-right: 15px;
    margin-left: 15px;

    &:hover {
        background-color: darkblue;
    }

    &:active {
        background-color: darkblue;
    }
}

.correct {
    background-color: #5db257;
    border: 2px solid #28a745;
    color: #155724;
    border-radius: 10px;
    padding: 10px;
}

.partial {
    background-color: #ffc107;
    border: 2px solid #a47d06;
    color: #856404;
    border-radius: 10px;
    padding: 10px;
}

.incorrect {
    background-color: #d24646;
    border: 2px solid #95202c;
    color: #721c24;
    border-radius: 10px;
    padding: 10px;
}

.chat-header {
    display: flex;
    background-color: none;
    bottom: 44.7vh;
    right: 0;
    position: fixed;
    z-index: 998;
    width: 466px;
    max-width: 600px;
    box-sizing: border-box;
}

.tab {
    padding: 10px 20px;
    height: 42px;
    font-family: 'DisneyFont', sans-serif;
    font-size: 1rem;
    background-color: #f7f7f7;
    color: rgb(35, 35, 35);
    cursor: pointer;
    transition:
        background-color 0.3s,
        color 0.3s;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
    justify-content: space-evenly;
    flex: 1;
    width: auto;
}

.tab:hover {
    background-color: #d7d7d7;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.tab.active {
    background-color: #d7d7d7;
    color: black;
    font-weight: bold;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.close-button {
    font-size: 1.7rem;
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px;
    margin-right: 7px;
    font-weight: bold;
    z-index: 999;
    font-family: 'DisneyFont', sans-serif;
    color: grey;
    margin-top: 15px;
}

.toggle-icon {
    padding: 15px;
    bottom: 0;
    right: 0;
    position: absolute;
    margin-bottom: 20px;
    margin-right: 20px;
    font-size: 50px;
    transition: transform 0.3s ease;
    background: transparent;
    cursor: pointer;
    color: black;
}

.player-name.inactive {
    text-decoration: line-through;
}
