.account-container {
    position: absolute;
    border-radius: 10%;
    top: 65px;
    left: 10px;
    width: auto;
    height: auto;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ddd;
    font-family: 'DisneyFont', sans-serif;
    z-index: 1000;
}

.bubble {
    position: absolute;
    background-color: whitesmoke;
    border-radius: 10px;
}

.bubble::after {
    content: '';
    position: absolute;
    display: block;
    top: -12px;
    left: 10px;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom-color: whitesmoke;
	border-top: 0;
}

.username-container h2 {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: black;
    justify-self: center;
}

.status-container h3 {
    font-size: 1rem;
    margin-bottom: 10px;
    color:#333;
}

.status-container select {
    padding: 5px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-family: 'DisneyFont', sans-serif;
}

.virtual-money-container h3 {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #333;
}

.settings-container {
    margin-bottom: 15px;
}

.settings-container nav a {
    text-decoration: none;
    font-size: 1rem;
    color: #333;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #333;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.settings-container nav a:hover {
    background-color: #333;
    color: white;
    border-color: #333;
    cursor: pointer;
}

.logout-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.logout-container button {
    color: #f3a685;
    border: 1px solid #f3a685;
    background-color: transparent;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    font-family: 'DisneyFont', sans-serif;
}

.logout-container button:hover {
    background-color: #f3a685;
    color: white;
    border-color: #f3a685;
}

h3 {
    font-family: 'DisneyFont', sans-serif;
}