<div class="login-container">
    @if (step === 1) {
        <form class="login-form" (ngSubmit)="sendRecoveryEmail()">
            <h2>Récupération de mot de passe</h2>
            <div class="form-section">
                <input
                    type="email"
                    id="email"
                    name="email"
                    placeholder="Adresse courriel"
                    [(ngModel)]="email"
                    (ngModelChange)="onEmailChange($event)"
                    required
                    #emailInput="ngModel"
                    [class.filled]="email.length > 0"
                />
                <label for="email">Adresse Courriel</label>
                @if (emailError) {
                    <div class="error-message">
                        <p>{{ emailError }}</p>
                    </div>
                }
            </div>
            <button type="submit" [disabled]="!emailValidation.isValid" [ngClass]="{ enabled: emailValidation.isValid }">Envoyer le code</button>
        </form>
    }

    @if (step === 2) {
        <form class="login-form" (ngSubmit)="verifyCode()">
                <h2>Entrez le code reçu</h2>
                <div class="form-section">
                    <div class="code-inputs">
                        <input name="digit0" type="text" maxlength="1" class="code-input" [(ngModel)]="code[0]" (input)="moveToNext($event, 1)" #codeInput />
                        <input name="digit1" type="text" maxlength="1" class="code-input" [(ngModel)]="code[1]" (input)="moveToNext($event, 2)" #codeInput />
                        <input name="digit2" type="text" maxlength="1" class="code-input" [(ngModel)]="code[2]" (input)="moveToNext($event, 3)" #codeInput />
                        <input name="digit3" type="text" maxlength="1" class="code-input" [(ngModel)]="code[3]" (input)="moveToNext($event, 4)" #codeInput />
                        <input name="digit4" type="text" maxlength="1" class="code-input" [(ngModel)]="code[4]" (input)="moveToNext($event, 5)" #codeInput />
                        <input name="digit5" type="text" maxlength="1" class="code-input" [(ngModel)]="code[5]" #codeInput />
                    </div>
                </div>
            @if (codeError) {
                <div class="error-message">
                    <p>{{ codeError }}</p>
                </div>
            }
            <button type="submit" [disabled]="!isCodeComplete()" [ngClass]="{ enabled: isCodeComplete() }">Vérifier</button>
        </form>
    }

    @if (step === 3) {
        <form class="login-form" (ngSubmit)="resetPassword()" >
                <h2>Créer un nouveau mot de passe</h2>
                <div class="form-section">
                    <input
                        [type]="isPasswordVisible ? 'text' : 'password'"
                        id="password"
                        name="password"
                        placeholder="Nouveau mot de passe"
                        [(ngModel)]="newPassword"
                        (ngModelChange)="onPasswordChange($event)"
                        maxlength="25"
                        required
                        #passwordInput="ngModel"
                        [class.filled]="newPassword.length > 0"
                    />
                    <label for="password">Nouveau mot de passe</label>
                    <span class="toggle-password" (click)="togglePasswordVisibility()">
                        <i class="fa" [ngClass]="isPasswordVisible ? 'fa-eye' : 'fa-eye-slash'"></i>
                    </span>
                </div>

            <div class="password-validation">
                <span [ngClass]="{ valid: passwordValidation.hasUpperCase, invalid: !passwordValidation.hasUpperCase }">
                    <i class="fa" [ngClass]="passwordValidation.hasUpperCase ? 'fas fa-check-square' : 'fa-times'"></i> Au moins une lettre majuscule
                </span>
                <span [ngClass]="{ valid: passwordValidation.hasNumber, invalid: !passwordValidation.hasNumber }">
                    <i class="fa" [ngClass]="passwordValidation.hasNumber ? 'fas fa-check-square' : 'fa-times'"></i> Au moins un chiffre
                </span>
                <span [ngClass]="{ valid: passwordValidation.hasSpecialChar, invalid: !passwordValidation.hasSpecialChar }">
                    <i class="fa" [ngClass]="passwordValidation.hasSpecialChar ? 'fas fa-check-square' : 'fa-times'"></i> Au moins un caractère spécial
                    (!&#64;#$%^&*)
                </span>
                <span [ngClass]="{ valid: passwordValidation.isValidLength, invalid: !passwordValidation.isValidLength }">
                    <i class="fa" [ngClass]="passwordValidation.isValidLength ? 'fas fa-check-square' : 'fa-times'"></i> Au moins 6 caractères de longueur
                </span>
            </div>

            <div class="form-section">
                <input
                    [type]="isPassword2Visible ? 'text' : 'password'"
                    id="password2"
                    name="password2"
                    placeholder="Réecrire mot de passe"
                    [(ngModel)]="confirmPassword"
                    (ngModelChange)="onPassword2Change($event)"
                    required
                    #password2Input="ngModel"
                    [class.filled]="confirmPassword.length > 0"
                />
                <label for="password2">Réecrire mot de passe</label>
                <span class="toggle-password" (click)="togglePassword2Visibility()">
                    <i class="fa" [ngClass]="isPassword2Visible ? 'fa-eye' : 'fa-eye-slash'"></i>
                </span>
            </div>

            @if (passwordMismatchError) {
                <div class="error-message">
                    <p>{{ passwordMismatchError }}</p>
                </div>
            }

            <button type="submit" [disabled]="!canResetPassword()" [ngClass]="{ enabled: canResetPassword() }">Modifier</button>
        </form>
    }
</div>
