.players-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background: transparent;
    border: 3px solid #FFD700;
    gap: 10px;
    height: 50vh;
    overflow-x: hidden;
    font-size: 2rem;
    scrollbar-width: thin;
    scrollbar-color: white transparent;
    font-weight: bold;
}

.player {
    width: 100%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    gap: 10px;
}

.kick-button {
    width: 7vw;
    font-size: 0.7rem;
    color: #e0e0e0;
    text-align: center;
    margin: 0;
    background-color: #e03b3b;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
    padding: 10px 10px;
    font-weight: bold;
    font-family: 'Press Start 2P', sans-serif;
    right: 10px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.player:hover .kick-button {
    opacity: 1;
}

.players-list .player:first-child {
    border: 2px solid #FFD700;
    color: white;
    width: 100%;
    box-shadow:
        0 0 15px #FFD700,
        0 0 30px  #FFD700,
        0 0 45px  #FFD700,
        0 0 60px  #FFD700;
    transition: box-shadow 0.5s ease-in-out;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    gap: 10px;
    animation: glowing 2s infinite alternate;
}

@keyframes glowing {
    0% {
        box-shadow:
            0 0 1.5px  #FFD700,
            0 0 3px  #FFD700,
            0 0 4.5px  #FFD700,
            0 0 6px  #FFD700;
    }
    50% {
        box-shadow:
            0 0 3px  #FFD700,
            0 0 6px  #FFD700,
            0 0 9px  #FFD700,
            0 0 12px  #FFD700;
    }
    100% {
        box-shadow:
            0 0 1.5px  #FFD700,
            0 0 3px  #FFD700,
            0 0 4.5px  #FFD700,
            0 0 6px  #FFD700;
    }
}

.avatar-container {
    width: 70px; 
    height: 70px; 
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
    margin-left: 5px;
}

.avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.player-name {
    font-size: 1.3rem;
    color: #e0e0e0;
    text-align: center;
}

.icon {
    width: 30px;
    height: 30px;
}

.modal {
    background-color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    max-width: 90%;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid #FFD700;
    position: relative;
    z-index: 1001;
}

.kicked-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: black;
    max-width: fit-content;
    white-space: normal;
    word-wrap: break-word;
    text-align: center;
    min-height: 3em;
    line-height: 1.5em;
    font-family: 'DisneyFont', sans-serif;
}

.modal button {
    padding: 10px 20px;
    font-size: 1.1rem;
    border-color: #FFD700;
    color: white;
    background-color: #290499;
    border: none;
    cursor: pointer;
    font-family: 'DisneyFont', sans-serif;
    margin-top: 20px;

    &:hover {
        background-color: #1f0372;
        color: white;
    }
}

.strike-name {
    font-size: 1.3rem;
    color: #e0e0e0;
    text-align: center;
}

.ban-buttons {
    display: flex;
    justify-content: center;    
    flex-direction: row;
    width: 100%;
    gap: 20px;
}